* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
    font-family: "Bitter", sans-serif;
    background: rgb(42, 28, 68);
    color: #ffffff;
    min-height: 100vh;
}

#app {
    height: 100vh;
}

.homepage-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.locations-container {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}