.header-container {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(26, 4, 46);
    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.326);
    border-bottom: 2px solid rgb(6, 37, 68);
}