.location-card-link {
  text-decoration: none;
  color: inherit;
}

.location-card {
    background: #ffffff;
    padding: 3.5rem;
    border-radius: 14px;
    text-align: center;
    border: 2px solid black;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.25s ease;
    cursor: pointer;
}

.location-card:hover {
    background-color: black;
    color: white;
}

.location-card h2 {
  font-size: 1.2rem;
  font-weight: 600;
}