.location-card-link {
  text-decoration: none;
  color: inherit;
}

.location-card {
  background: #02042b;
  padding: 3.5rem;
  border-radius: 20px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.171);
  transition: ease .2s;
  cursor: pointer;
}

.location-card:hover {
  border: 2px solid rgb(255, 255, 255);
}

.location-card h2 {
  font-size: 1.2rem;
  font-weight: 600;
}